<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jessie.focusing">

    <!-- 应用锁需要的权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".View.Initial.Welcome_Activity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.Main.Main_Activity"
            android:launchMode="singleTask" />
        <activity
            android:name=".View.CountDown.Countdown_Activity"
            android:launchMode="singleTask" />
        <activity android:name=".View.Finish.Finish_Activity" />
        <activity android:name=".View.StartNow.StartNow_Activity" />
        <activity android:name=".View.Profile.ProfileList_Activity" />
        <activity android:name=".View.Profile.ProfileDetailActivity" />
        <activity android:name=".View.Schedule.Schedule_Activity" />
        <!-- <activity android:name=".View.ProfileList_Activity"/> -->


        <!-- <service -->
        <!-- android:name="com.example.jessie.focusing.LoadAppListService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true" /> -->
        <service android:name=".Service.LockService" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".View.DataStatisticActivity"></activity>
    </application>

</manifest>