<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jessie.focusing">

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.example.jessie.focusing.View.Initial.FocusingApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <!--随着安卓系统启动而启动-->
        <receiver
            android:name="com.example.jessie.focusing.Service.RebootBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="action" />
                <action android:name="android.intent.action.TIME_TICK" />
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".View.Initial.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Main.MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".View.CountDown.CountdownActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".View.Finish.FinishActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".View.StartNow.FocusNowActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".View.Profile.ProfileListActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".View.Profile.ProfileDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".View.Schedule.Schedule_Activity"
            android:launchMode="singleTask" />

        <service android:name=".Service.LockService" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".View.Stats.DataStatisticActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".View.Stats.LogDetailActivity"
            android:launchMode="singleTask" />
    </application>

</manifest>